.search {
    display: flex;
    position: relative;
    align-items: center;
    width: calc(100% - 20px);
    box-sizing: border-box;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.buttonSearch {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 100px;
    background-color: #032E46;
}



.products {
    display: flex;

    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 960px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    border-top: 1px solid #000;
}

.cost {
    position: absolute;
    bottom: 10px;
}