

.path {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 15px;
}

.item, .line{
    flex: 1 0 0;
    
}

.line {
    height: 1rem;
    display: flex;
    align-items: flex-end;
    /* width: 500px; */
    /* height: 1px; */
    border-bottom: 1px dashed #000 ;
}
.label {
    position: relative;
    display: inline-block;
    margin-left: 17px;
    z-index: 15;
    font-weight: 500;
    padding: 0 5px;
    font-size: 16px;
    top: 25px;
}

.label::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 10px;
    background-color: #fff;
    content: '';
    z-index: -15;
    border-radius: 6px;
}

.path {
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    font-weight: 500;
    
    align-items: center;
    height: 35px;
    margin-left: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}