.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #282c34;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-grow: 1;
  height: calc(100%);
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  width: 1280px;
}

footer {
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  background: #F4F4F4;
}

.App-logo {
  background-image: url("./image/favicon.ico");
  background-size: 100% 100%;
  height: 200px;
  width: 200px;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.preloader {
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: -15;
  min-height: 100vh;
}

.preload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}